---
import Base from '../layouts/Base.astro';
---

<Base title="About">
  <article class="prose">
    <h1>About</h1>

    <p>
        My family and I are moving to Australia this summer. I created thsi site as way to share a bit about the experience with friends and family.  

    </p>
    <p>
        I doubt anyone will acutally read it but I'll enjoy building it.
    </p>

    <hr />

  </article>
</Base>
